@{
    ViewBag.Title = "Booking Status";
}



<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Booking Status</div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Start at</th>
                <th>End at</th>
                <th>Teaching</th>
                <th>Promotion</th>
                <th>Characteristic</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>02/22/13</td>
                <td>9h45</td>
                <td>11h15</td>
                <td>AIOP</td>
                <td>IG5</td>
                <td>Projector</td>
                <td>validated</td>
                <td>delete</td>
            </tr>
            <tr>
                <td>02/22/13</td>
                <td>9h45</td>
                <td>11h15</td>
                <td>AIOP</td>
                <td>IG5</td>
                <td>Projector</td>
                <td>validated</td>
                <td>delete</td>
            </tr>
            <tr>
                <td>02/22/13</td>
                <td>9h45</td>
                <td>11h15</td>
                <td>AIOP</td>
                <td>IG5</td>
                <td>Projector</td>
                <td>validated</td>
                <td>delete</td>
            </tr>
        </table>
    </div>
