@{
    ViewBag.Title = "Working Hours";
}



<h2>Working hours</h2>
<h4>Total hours to do: </h4>
<h4>Hours done: </h4>
<h4>Hours planned: </h4>
<h4>Hours left to plan: @Html.ActionLink("Book a room", "Index", "BookRoom")</h4>

