<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
@{
    ViewBag.Title = "WorkingHours";
}

<h2>Working hours</h2>
<h4>Total hours to do: </h4>
<h4>Hours done: </h4>
<h4>Hours planned: </h4>
<h4>Hours left to plan: @Html.ActionLink("Book a room", "BookRoom", "BookRoom")</h4>

