@{
    ViewBag.Title = "Manage Booking";
}


<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><center>Administration</center></div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Teacher</th>
                <th>Teaching</th>
                <th>Promotion</th>
                <th>Date</th>
                <th>Start at</th>
                <th>End at</th>
                <th>Characteristic</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Bernard Fallery</td>
                <td>AIOP</td>
                <td>IG5</td>
                <td>02/22/13</td>
                <td>9h45</td>
                <td>13h00</td>
                <td>computers</td>
                <td>accept  refuse</td>
            </tr>
        </table>
    </div>
