@{
    ViewBag.Title = "Global Calendar";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="../Home/index"><span class="glyphicon glyphicon-home"></span> My Calendar</a></li>
            <li class ="active"><a href="index"><span class="glyphicon glyphicon-calendar"></span> Global Calendar</a></li>
            <li><a href="../workingHours/index"><span class="glyphicon glyphicon-time"></span> Working Hours</a></li>
            <li><a href="../bookRoom/index"><span class="glyphicon glyphicon-bookmark"></span> Book Room</a></li>
            <li><a href="../bookingStatus/index"><span class="glyphicon glyphicon-dashboard"></span> Booking Status</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a>Fred Pizza</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
