@{
    ViewBag.Title = "Index";
}

<h2>MOA C BEYONCE MA GUEULE</h2>

<h3>
    @Html.ActionLink("Login", "Login", "Account");
</h3>

<iframe src="https://www.Google.com/calendar/embed?src=<%=
GetCalendarID()%>&ctz=Europe%2FMoscow" style="border: 0" width="800"
height="600" frameborder="0" scrolling="no"></iframe>