@{
    ViewBag.Title = "My Calendar";
}
<script>
    isMobile = {
        Android: function () {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function () {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function () {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function () {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function () {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function () {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    $(document).ready(function () {
        $('#calendar').fullCalendar({
            theme: true,
            allDaySlot: false,
            timeFormat: 'HH:mm{ - HH:mm}',
            firstHour: 8,
            firstDay: 1,
            hiddenDays: [0,6],
            minTime: 8,
            maxTime: 20,
            header: {
                left: 'prev,next today',
                center: '',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            editable: false,
            events: function (start, end, callback) {
                var id_teacher = @AIOPClient.Models.UserSession.GetInstance().id_user
                $.getJSON("GetEvents?id_teacher=" + id_teacher, function (locationsArray) {
                    var result = $(locationsArray).map(function () {
                        return {
                            title: this.title,
                            start: this.start,
                            end: this.end,
                            allDay: this.allday,
                            color: this.color, 
                            description: '<p>Time Slot : ' + this.time_slot + '</p>' + '<p>Room : ' + this.salle + '</p>' + '<p>Teacher : ' + this.teacher + '</p>' + '<p>Group : ' + this.group + '</p>'
                        };
                    }).toArray();
                    callback(result);
                });
            },
            eventClick: function (calEvent, jsEvent, view) {
                $("#cal_event").html(calEvent.description);
                $("#cal_event").dialog({
                    title: calEvent.title,
                    content : calEvent.description
                }); $("#cal_event").HTML(calEvent.description);

            }
        });
    });

</script>
@*<div id="content">*@
  @*  <div id="calendar"
        style='font-size: 12px'
        ></div>*@
    <div id="cal_event"></div>

<script>
    if (isMobile.any()) {
        document.writeln(' <div id="calendar" style="font-size: 8px" ></div>');
    }
    else
        document.writeln(' <div id="calendar" style="font-size: 12px" ></div>');
</script>
@*</div>*@
