@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<link href="<%= Url.Content("~/Content/jquery-ui-1.7.2.custom.css") %>" rel="stylesheet" type="text/css" />
<link href="<%= Url.Content("~/Content/fullcalendar.css") %>" rel="stylesheet" type="text/css" />
 
<script type="text/javascript" 
src="<%= Url.Content("~/Scripts/jquery-1.3.2.min.js") %>">
</script>
<script type="text/javascript" 
src="<%= Url.Content("~/Scripts/jquery-ui-1.7.2.custom.min.js") %>">
</script>
<script type="text/javascript" 
src="<%= Url.Content("~/Scripts/fullcalendar.min.js") %>">
</script>