@{
    ViewBag.Title = "Index";
}

<h2>API</h2>

<h3>
    @Html.ActionLink("api/teacher/accountsList", "teacher/accountsList", "api");
</h3>
<h3>
    @Html.ActionLink("api/account/login", "account/login", "api");
</h3>

<h3>
    @Html.ActionLink("home/login", "login", "home");
</h3>