@{
    ViewBag.Title = "Book Room";
}

<form role="form" class="form-horizontal">
    <div class="row">
        @* We'll have to do a concatenation of Promo/Year/Groupe if needed*@
        <div class="col-md-2">
            <label for="promotion">Promotion</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" title="">
                <option>ERII</option>
                <option>IG</option>
                <option>MAT</option>
                <option>MI</option>
                <option>STE</option>
                <option>STIA</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="year">Year</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="group">Group</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>anglais G1</option>
                <option>anglais G2</option>
                <option>G1</option>
                <option>G2</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="teaching">Teaching</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>AIOP</option>
                <option>Communication</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="type">Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control"></select>
        </div>
    </div>

    <label for="projector" class="inline checkbox">
        <input id="rojector" name="projector" type="checkbox">
        Projector
    </label>
    <label for="computers" class="inline checkbox">
        <input id="computers" name="computers" type="checkbox">
        Computers
    </label>

    <!-- DATE PICKER -->

    <script>$(".input-group.date").datepicker({ autoclose: true, todayHighlight: true });</script>

    <div class="form-group row">
        <div class="col-xs-8">
            <label class="control-label">Effective Date</label>
            <div class="input-group date" id="dp3" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" readonly="" value="12-02-2012">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
