@{
    ViewBag.Title = "Book Room";
}

<form role="form" class="form-horizontal">
    <div class="row">
        @* We'll have to do a concatenation of Promo/Year/Groupe if needed*@
        <div class="col-md-2">
            <label for="promotion">Promotion</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" title="">
                <option>ERII</option>
                <option>IG</option>
                <option>MAT</option>
                <option>MI</option>
                <option>STE</option>
                <option>STIA</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="year">Year</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="group">Group</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>anglais G1</option>
                <option>anglais G2</option>
                <option>anglais G3</option>
                <option>G1</option>
                <option>G2</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="teaching">Teaching</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                @foreach (dynamic subject in ViewBag.SubjectList)
                {
                <option>@subject.Subject_Name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="type">Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>Cours</option>
                <option>TD</option>
                <option>TP</option>
            </select>
        </div>
    </div>

    <label for="projector" class="inline checkbox">
        <input id="projector" name="projector" type="checkbox">
        Projector
    </label>
    <label for="computers" class="inline checkbox">
        <input id="computers" name="computers" type="checkbox">
        Computers
    </label>

    <!-- DATE PICKER -->

    <div class="form-group row">
        <div class="input-group">
            <input class="form-control datepicker" type="text" value="12-02-2012">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>

       @* <div class="input-group">
        <input id="timepicker" type="text" class="timepicker">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>*@
    </div>

    <button type="submit" class="btn btn-default" onclick="">Submit</button>
</form>

<script>$(".datepicker").datepicker({ autoclose: true, todayHighlight: true });</script>
<script type="text/javascript">
    $('#timepicker').timepicker();
</script>

